body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color: #333;
    background-color: #f3f3
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

h2 {
    font-family: cursive;
    color: green;
}

main {
    font-style: italic;
}

dl {
    color: blue;
    padding-left: 20px;
}

