body {
    font-family: cursive;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header {
    width: 100%;
    background-color: pink;
    color:#222;
    text-align: center;
    padding: 2rem;
}
footer {
    width: 100%;
    background-color: pink;
    color:#222;
    text-align: left; 
}
.container {
    display: flex;
    width: 90%;
    margin: 20px 0;
}
.content {
    flex: 3;
    padding: 20px;
}
.sidebar {
    flex: 1;
    background-color: white;
    padding: 20px;
    border-left: 2px solid #ddd;
    border: 5px solid #222;
    box-shadow: 3px 3px 3px rgb(30, 21, 21);
}
table {
    width: 100%;
    border-collapse: collapse;
    border: 5px solid #222;
    box-shadow: 3px 3px 3px rgb(30, 21, 21);
}
th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}
th {
    background-color: #222;
    color: white;
}
    
tr:nth-child(even) {
    background-color: #f9f9f9;
}