<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>layout</title>
    <link rel="stylesheet" href="layout.css">
</head>
<body>
    <div id="wrapper"> 
    <header>
        <h1><em>Tips to maintain your Mental Health</em></h1>
    </header>
    
    <nav> 
      <a href="layout.html" class="current">Home</a>
      <a href="Tip1.html">Relax your mind</a>
      <a href="Tip2.html">Reduce of using social media</a>
      <a href="Tip3.html">Self-Love</a>
      <a href="Tip4.html">Learn how to handle stress</a>    
    </nav>
    <main>  
        <h1>What is Mental Health?</h1>
        <figure class="Health floating">
           <img src="Health.jpg" alt="Health"> 
           <figcaption>Mental Health</figcaption>
        </figure>
         <p><strong><em>Mental health refers to a person's emotional, psychological, and social well-being. 
            It affects how individuals think, feel, and behave in daily life, as well as how they handle stress, relate to others, and make decisions. 
            Good mental health allows people to cope with life's challenges, work productively, and contribute to their communities.</em></strong></p>
         <div class="clear"></div>        
    </main>
    <footer>
        &copy; 2025 Bolortuya Enkhbayar
    </footer> 
    </div>  
</body>    
</html>