<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" href="layout.css">
</head>
<body>
    <div id="wrapper">
    <header>
        <h1><mark>Tips to maintain your Mental Health</mark></h1> 
    </header>
    <nav>  
        <a href="layout.html" >Home</a>
        <a href="Tip1.html">Relax your mind</a>
        <a href="Tip2.html">Reduce of using social media</a>
        <a href="Tip3.html">Self-Love</a>
        <a href="Tip4.html" class="current">Learn how to handle stress</a>      
    </nav>
    <main>
        <h1>Learn how to handle stress</h1>
        <img src="Stress.jpg" alt="Manage your stress">
    </main>
    <footer>
        &copy; 2025 Bolortuya Enkhbayar
    </footer>
    </div>   
</body>
</html>