body {
    font-family: cursive;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: rgb(139, 218, 139);
    color: white;
    padding: 10px 0;
}

nav ul {
    text-align: center;
}

nav ul li {
    display: block;
    margin: 0 20px;
}

nav ul li a {
    color: rgb(31, 190, 31);
    text-decoration: none;
    font-size: 1.2rem;
    padding: 10px 10px;
    
}

main {
    padding: 20px;
    max-width: 1200px;
    margin: 20px auto;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 0;
    background-color: #333;
    color: white;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 5px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

caption {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    nav ul {
        display: block;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }
}

@media (max-width: 480px) {
    main {
        padding: 10px;
    }
    nav ul li a {
        font-size: 1.2rem;
    }
}

main, section {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

form {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;    
}

label {
    font-weight: bold;
    display: block;
    margin: 10px 0 5px;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

fieldset {
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 20px;
}

legend {
    font-weight: bold;
    background-color: rgb(120, 183, 120);
    color: white;
    padding: 10px 20px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 15px;
    border: 2px solid #ccc;
    font-size: 16px;
}

textarea {
    resize: horizontal;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.checkbox,
.radio {
    margin-bottom: 15px;
}

.checkbox input,
.radio input {
    margin-right: 10px;
}

